.form-control.ng-invalid.ng-touched,
.form-select.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.invalid-feedback {
  display: block;
}

.border {
  border-color: #dee2e6;
}

.border:hover {
  border-color: #adb5bd;
}